.drum {
    background-color: #efefef;
    border-radius: 5px;
    padding: 30px;

    &__header-text {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 20px;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 75px);
        grid-template-rows: repeat(3, 50px);
        gap: 10px;
    }

    &__controls {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }
}
